$color-Principal: #8a2424 ;
$color-sombras: #aab7b831;
$color-principal: #1f2227;
$color-blanco: #ffffff;
$color-naranja:#ffb700;
$color-rojo: red;
$color-gris: #ced6e0;
$color-negro: black;
$color-ropa: #b6b6b6;
$estilos:(
    centro: center,
    ancho: 100%,
    alto: 100%,
    flexible: flex,
    envol: wrap,
);
%display-flex-align{
    display: map-get($estilos, flexible);
    flex-wrap:map-get($estilos, envol);
    align-items:map-get($estilos, centro);
  }
%display-align{
    display:map-get($estilos, flexible);
    text-align: map-get($estilos, centro);
}
%display-align-text{
    display:map-get($estilos, flexible);
    text-align: map-get($estilos, centro);
    align-items:map-get($estilos, centro);
}
%flex-wrap{
    display:map-get($estilos, flexible);
    flex-wrap: map-get($estilos, envol);
}